.dark html,
.dark body {
    background-color: var(--bg_dark);
}

.light html,
.light body {
    background-color: var(--bg);
}

/* body */
.dark h1 {
    color: var(--text_dark);
}

.light h1 {
    color: var(--text);
}

.content h1 {
    display: block;
    text-align: center;
}

.dark .demo-container {
    color: var(--text_dark);
}

.light .demo-container {
    color: var(--text);
}