.dark html,
.dark body {
    background-color: var(--bg_dark);
}

.light html,
.light body {
    background-color: var(--bg);
}

/* body */
.content {
    display: block;
    text-align: center;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 1%;
}

.dark .content {
    color: var(--text_dark);
    background-color: var(--bg_darker_a);
}

.light .content {
    color: var(--text);
    background-color: var(--bg_light_a);
}

.content hr {
    margin-left: 3%;
    margin-right: 3%;
}

.page-content {
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 3px;
}

.page-content p {
    text-align: center;
    font-size: 20px;
}